body{
  -webkit-font-smoothing: antialiased !important;
  overflow-y:hidden;
}

.wrapper{
  background-color: $white-six;
  padding-top: 64px;
  position: absolute;
  height:100%;
  width: 100%;
  .content-wrapper {
    position: relative;
    height:100%;
    width: 100%;
    .main-container{
      position: absolute;
      left: 250px;
      right: 246px;
      background-color: $white-six;
      height: 100vh;
      overflow-y: auto;
    }
  }
}