.main-nav{
  background-color: $white;
  box-shadow: 0 0px 3px 0 rgba(87, 71, 81, 0.2);

  .navbar-header{
    width: 162px;
    height: 64px;
    margin: 0 47px 0 27px;
    .navbar-brand{
      margin-left: 0;
      float: normal;
      padding: 8px;
      img {
        width: 100%;
      }
    }
  }

  .navbar-form{
    margin: 15px 30px;
    input[type=text]{
      width: 280px;
      border-color: $silver;
      border-radius: 3px 0 0 3px;
      border-right: none;
      box-shadow: none;
      color: $bluey-grey;
      &::-webkit-input-placeholder{
        color: $bluey-grey;
      }
      &::-moz-placeholder{
        color: $bluey-grey;
      }
      &:-ms-input-placeholder{
        color: $bluey-grey;
      }
      &:-moz-placeholder{
        color: $bluey-grey;
      }
    }
    button[type=submit]{
      margin-left: -4px;
      border-color: $silver;
      border-radius: 0 3px 3px 0;
      border-left: none;
      padding: 4px 12px;
      &:hover{
        background-color: transparent;
      }
      &:focus{
        outline: none;
        background-color: transparent;
      }
      span{
        font-size: 17px;
        color: $bluey-grey;
      }
    }
  }

  .navbar-nav{
    &.navbar-right{
      .nav-user{
        a{
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    .nav-user-image{
      width: 35px;
      height: 35px;
      background-size: cover;
      background-position: center;
      display: inline-block;
      border-radius: 20px;
      // box-shadow: 0px 0.5px 1.5px 1.5px rgba(0, 0, 0, 0.13);
      // border: solid 2px #ffffff;
    }

  }
}