$white: #ffffff;
$white-two: #f8f8f8;
$white-three: #ebebeb;
$white-four: #eeeeee;
$white-five: #d7d7d7;
$white-six: #f4f6f9;

$dull-yellow: #e8d84d;

$red-pink: #f72e66;
$pinkish-grey: #c2c2c2;
$pinkish-grey-two: #c1c1c1;

$bluey-grey: #9daab6;
$dark-grey-blue: #2a3754;
$greyish-brown-three: #454545;
$warm-grey-two: #727272;
$warm-grey-three: #a1a1a1;
$dark: #1b2733;

$black: #000000;

$silver: #cfd6dc;
$silver-two: #c7cacd;

$greenish-teal: #33bc9c;
$topaz: #19cbcb;

$bluish: #2980b9;


$Roboto: 'Roboto';
$Lato-Light: 'Lato-Light';
$Montserrat: 'Montserrat';