<div class="wrapper dashboard">
  <div class="content-wrapper">

    <div class="left-sidebar">
      <div class="user-profile">
        <img src="{{ user.image }}">
        
        <div class="user-detail">
          <p class="name">Earvin Gemenez</p>
          <p class="handle">@tomomoi</p>
        </div>

        <div class="dropdown">
          <a href="">
            <span class="ion-android-more-vertical"></span>
          </a>
        </div>
      </div>

      <div class="side-nav">
        <ul>
          <li>
            <a href="" class="nav-home">
              <span class="ion-ios-home-outline"></span>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="" class="nav-books">
              <span class="ion-ios-grid-view-outline"></span>
              <p>Shelf</p>
            </a>
          </li>
          <li>
            <a href="" class="nav-following">
              <span class="ion-android-happy"></span>
              <p>Following</p>
            </a>
          </li>
        </ul>
        <h4>Library</h4>
        <ul>
          <li>
            <a href=""><span class="ion-ios-clock-outline"></span> History</a>
          </li>
          <li>
            <a href=""><span class="ion-ios-bookmarks-outline"></span> Bookmarks</a>
          </li>
          <li>
            <a href=""><span class="ion-android-favorite-outline"></span> Favorites</a>
          </li>
        </ul>
      </div>
    </div><!-- /.left-sidebar -->

    <div class="main-container">
      <div class="content">
        
        <div class="content-nav clearfix">
          <ul class="navbar-nav nav">
            <li><a href="" class="active">Your Feed</a></li>
            <li><a href="">Discover</a></li>
            <li><a href="">New Release</a></li>
          </ul>
        </div>

        <div class="content-feed">
          <div class="feed">
            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>

            <div class="feed-item">
              
              <div class="feed-item-header">
                
                <div class="user">
                  <img src="assets/img/earvin.jpeg">
                  <div class="user-detail">
                    <h3>Earvin Gemenez</h3>
                    <p>June 20 at 1:06pm <span>.</span> Davao City</p>
                  </div>
                </div><!-- /.user -->

                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div><!-- /.feed-item-header -->

              <div class="feed-item-content">
                <div class="activity">
                  <p>Published a fiction book <a href="" class="book">Diary of a Minecraft Zombie</a></p>
                </div>
                <div class="status">
                  <p>Bespoke small batch enamel pin, tattooed intelligentsia master cleanse glossier church-key skateboard normcore selfies. </p>
                </div>

                <div class="preview">
                  <img src="assets/img/sample1.jpg">
                  <div class="preview-detail">
                    <h3>Diary of a Minecraft Zombie</h3>
                    <div class="category">
                      <span class="category-name">Fiction</span>
                      <span class="category-price">$4.99</span>
                    </div>

                    <div class="review">
                      <div class="review-item">
                        <p>“ This a review for the book that ha been published in this site.”</p>
                        <div class="text-right">
                          <span>- Entertainment Weekly</span>
                        </div>
                      </div>
                      <div class="pagination">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>

                    <div class="read-btn">
                      <a href="" class="btn">Read</a>
                    </div>
                  </div>
                </div>
              </div><!-- /.feed-item-content -->

              <div class="feed-item-footer">
                <div class="action">
                  <div class="action-item left">
                    <div class="like">
                      <span class="ion-android-favorite"></span>
                      <a href="">1.5k</a>
                    </div>
                    <div class="comments">
                      <span class="ion-chatbubble"></span>
                      <a href="">532 Comments</a>
                    </div>
                  </div>
                  <div class="action-item right">
                    <div class="share">
                      <span class="ion-ios-redo"></span>
                      <a href="">Share</a>
                    </div>
                  </div>
                </div><!-- /.action -->

                <div class="comment">
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                  <div class="comment-item">
                    <img src="assets/img/earvin.jpeg">
                    <div class="detail">
                      <div class="head">
                        <h5>Earvin Gemenez</h5>
                        <span>5m</span>
                      </div>
                      <div class="comment-content">
                        <p>I fucking commented to my own post #4everAlone</p>
                      </div>
                      <div class="foot">
                        <a href="">reply</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.comments -->
              </div>
            </div>
          </div>

          <div class="right-pane">
            <div class="blurb">
              
              <div class="blurb-header">
                <h3>Book of the day</h3>
                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div>

              <div class="blurb-content">
                <div class="image">
                  <img src="assets/img/sample2.jpg">
                </div>
                <div class="detail">
                  <a href=""><h4>Dumb ways to Die</h4></a>
                  <p>Banh mi palo santo blue bottle 90's humblebrag</p>
                </div>
                <div class="profile">
                  <img src="assets/img/tomomi.jpg">
                  <div class="user-detail">
                    <a href=""><h5>Tomomi Ogawa</h5></a>
                    <p>Writer</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="suggestion">

              <div class="suggestion-header">
                <h3>Suggested</h3>
                <div class="option">
                  <a href="">
                    <span class="ion-ios-more"></span>
                  </a>
                </div>
              </div>

              <div class="suggestion-content">
                <div class="user">
                  <div class="user-item">
                    <div class="left">
                      <img src="assets/img/earvin.jpeg">
                      <div class="user-detail">
                        <a href=""><h5>Earvin Gemenez</h5></a>
                        <p>Writer</p>
                      </div>
                    </div>
                    <div class="right">
                      <a href=""><span class="ion-ios-plus"></span></a>
                    </div>
                  </div>
                  <div class="user-item">
                    <div class="left">
                      <img src="assets/img/tomomi.jpg">
                      <div class="user-detail">
                        <a href=""><h5>Tomomi Ogawa</h5></a>
                        <p>Bassist</p>
                      </div>
                    </div>
                    <div class="right">
                      <a href=""><span class="ion-ios-plus"></span></a>
                    </div>
                  </div>
                  <div class="user-item">
                    <div class="left">
                      <img src="assets/img/earvin.jpeg">
                      <div class="user-detail">
                        <a href=""><h5>Earvin Gemenez</h5></a>
                        <p>Writer</p>
                      </div>
                    </div>
                    <div class="right">
                      <a href=""><span class="ion-ios-plus"></span></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.content -->

    <div class="right-sidebar">
      
      <div class="right-sidebar-head">
        <h3>Recent Activities</h3>
        <div class="option">
          <a href="">
            <span class="ion-ios-more"></span>
          </a>
        </div>
      </div>

      <div class="right-sidebar-content">
        <div class="recent">

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a <a href="">new book</a></p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

          <div class="recent-item">
            <img src="assets/img/earvin.jpeg">
            <div class="detail">
              <a href="">
                <h5>Earvin Gemenez</h5>
              </a>
              <p>Published a new book</p>
            </div>
          </div>

        </div>
      </div>
    </div><!-- /.right-sidebar -->
  </div>
</div>