{% load staticfiles %}


<script src="{% static 'apps/app.js' %}"></script>
<script src="{% static 'apps/routes.js' %}"></script>
<script src="{% static 'apps/controllers.js' %}"></script>
<script src="{% static 'apps/services.js' %}"></script>

<script src="{% static 'apps/users/_app.js' %}"></script>
<script src="{% static 'apps/users/services.js' %}"></script>
<script src="{% static 'apps/users/routes.js' %}"></script>
<script src="{% static 'apps/users/controllers.js' %}"></script>
<script src="{% static 'apps/users/directives.js' %}"></script>

<script src="{% static 'apps/books/_app.js' %}"></script>
<script src="{% static 'apps/books/services.js' %}"></script>
<script src="{% static 'apps/books/routes.js' %}"></script>
<script src="{% static 'apps/books/controllers.js' %}"></script>