<div class="wrapper create-book-body" ng-init="ctrl.init($stateParams.id)">
  <div class="content-wrapper">

  <div class="left-sidebar">
    
    <div class="left-sidebar-panel">
      <ul>
        <li class="active" uib-dropdown>
          <a href="" uib-dropdown-toggle>
            <span class="ion-ios-folder"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="chapter in BookDataService.chapters track by $index">
              <a href="#">{{ chapter.title }}</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">
            <span class="ion-ios-albums-outline"></span>
          </a></li>
        <li>
          <a href="">
            <span class="ion-ios-search"></span>
          </a></li>
        <li>
          <a href="">
            <span class="ion-ios-chatbubble-outline"></span>
          </a></li>
        <li>
          <a href="">
            <span class="ion-paperclip"></span>
          </a></li>
      </ul>
    </div>
    
    <div class="left-sidebar-pages">
      <h4>PAGES {{ BookDataService.chapter }}</h4>
      <div class="book">
        
        <div ng-repeat="page in BookDataService.chapters[0].pages track by $index" class="book-item active">
          <p>1</p>
          <div class="preview">
            <div class="page">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!-- /.left-sidebar -->

  <div class="main-container">
    <div class="main-content">
    <!-- 
      <div class="control-panel clearfix">
        <ul class="navbar-nav nav">
          <li><a href="#">
            <span class="ion-ios-undo"></span>
          </a></li>
          <li><a href="#">
            <span class="ion-ios-redo"></span>
          </a></li>
          <li><a href="#">
            <span class="ion-ios-copy-outline"></span>
          </a></li>
          <li><a href="#">
            <span class="ion-scissors"></span>
          </a></li>
          <li><a href="#">
            <span class="ion-chatbox-working"></span>
          </a></li>
          <li><a href="#">
            <span class="ion-android-attach"></span>
          </a></li>
        </ul>
      </div> -->
    
      <div class="book">
        <div class="book-item last">
          <div class="page" tabindex=5 ng-keydown="ctrl.typeText($event)" ng-click="ctrl.click($event)">
          </div>
        </div>
      </div>

    </div>
  </div><!-- /.main-container -->

  <div class="right-sidebar">
    <div class="right-sidebar-head">
      <ul class="navbar-nav nav">
        <li class="active"><a href="" ng-click="ctrl.highlighted()">FORMATTING</a></li>
        <li><a href="">PUBLISHING</a></li>
      </ul>
    </div>
    <div class="right-sidebar-content">
      
      <div class="panel active">
        
        <div class="field-control-1">
          <label>Text Style</label>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="text" style="font-size: 26px; font-weight:bold;">Title Text</span>
              <span class="icon ion-ios-arrow-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-lg">
              <li><a href="#" style="font-size: 26px; font-weight:bold;">Title</a></li>
              <li><a href="#" style="font-size: 22px;">Subtitle</a></li>
              <li><a href="#" style="font-size: 20px;font-weight: 600;">Heading</a></li>
              <li><a href="#" style="font-size: 18px;font-weight: 600;">Heading 2</a></li>
              <li><a href="#" style="font-size: 18px;">Heading 3</a></li>
              <li><a href="#" style="font-size: 13px;">Paragraph</a></li>
              <li><a href="#" style="font-size: 12px;font-weight: bold;letter-spacing: 0.4px;" class="last">CAPTION</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-1">
          <label>Font</label>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="text">Roboto</span>
              <span class="icon ion-ios-arrow-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" style="font-family:'Roboto';">Roboto</a></li>
              <li><a href="#" style="font-family:'Montserrat';">Montserrat</a></li>
              <li><a href="#" style="font-family:'Lato-Light';">Lato-Light</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-3">
          <label>Layout</label>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="text text-icon ion-ios-paper-outline"></span>
              <span class="icon ion-ios-arrow-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-3">
          <label>Size</label>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="text">35 pt</span>
              <span class="icon ion-ios-arrow-down"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
              <li><a href="#">9 pt</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-3">
          <label>Color</label>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="text text-icon ion-stop"></span>
              <span class="icon ion-ios-arrow-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-picker">
              <li><a href="#">
                <span class="ion-stop" style="color:#000;"></span>
                <span>Black</span>
              </a></li>
              <li><a href="#">
                <span class="ion-stop" style="color:#33bc9c"></span>
                <span>Greenish Teal</span>
              </a></li>
              <li><a href="#">
                <span class="ion-stop" style="color:#f72e66"></span>
                <span>Red Pink</span>
              </a></li>
              <li><a href="#">
                <span class="ion-stop" style="color:#9daab6"></span>
                <span>Bluey Grey</span>
              </a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-1">
          <label>Format</label>
          <div class="formats">
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
            <div class="format-item"><a href="">
              <span class="ion-stop"></span>
            </a></div>
          </ul>
        </div>

        <div class="field-control-1">
          <label>Alignment</label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-1">
          <label>Insert</label>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>

        <div class="field-control-1">
          <label>Status</label>
        </div>

      </div>

    </div>
  </div><!-- /.right-sidebar -->

  </div>
</div>