<div class="wrapper create-book-intro">
  <div class="container">
    <div class="book-form">
      <h3>Book Cover</h3>
      <div class="col-md-4 cover">
        <div class="cover-upload-container">
          <div class="text-center">
            <span class="ion-ios-cloud-upload-outline"></span>
            <h3>Drag & drop</h3>
            <h5>your photo here, or <u>browse</u>.</h5>
          </div>
        </div>
      </div>
      
      <div class="col-md-8 details">
        <form ng-submit="ctrl.updateBook()">
          <div class="clearfix text-right do-later">
            <a ui-sref="book-editor({'id': BookService.book.id})">
              <span class="text">Do this later</span>
              <span class="arrow ion-ios-arrow-thin-right"></span>
            </a>
          </div>
          <div class="field-control-1">
            <label>Title</label>
            <input ng-model="BookService.book.title" class="title" type="text" placeholder="Write your title in here">
          </div>
          <div class="field-control-1">
            <label>Description</label>
            <textarea ng-model="BookService.book.desc" placeholder="Write your title in here"></textarea>
          </div>
          <div class="field-control-2 no-padding-l">
            <label>Category</label>
            <select>
              <option>Science Fiction</option>
            </select>
          </div>
          <div class="field-control-2 no-padding-r">
            <label>Tags</label>
            <input type="text" name="tags" placeholder="Add tags in here">
          </div>
          <div class="field-control-1 actions">
            <a href="">Save</a>
            <button type="submit">
              <div>
                <span class="text">Save and Continue</span>
                <span class="arrow ion-ios-arrow-thin-right"></span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>